:root {
  color-scheme: light dark;
  --primary-blue: #004ca3;
  --secondary-blue: rgb(7, 111, 229);
  font-family: "Avenir Next", sans-serif, "PingFang SC", "Microsoft YaHei";
}
button{
  background-color: var( --secondary-blue);
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}
